<div class="url-shortener">
    <h2>URL Shortener</h2>
    <p>Enter your URL below to generate a short link and copy it easily!</p>
    <form [formGroup]="urlForm" (ngSubmit)="generateShortUrl()">
      <div>
        <input
          type="text"
          formControlName="longUrl"
          placeholder="Enter your URL"
          class="url-input"
        />
        <div *ngIf="urlForm.get('longUrl')?.touched && urlForm.get('longUrl')?.invalid" class="error">
          <div class="invalid-text" *ngIf="urlForm.get('longUrl')?.errors?.['required']">
            URL is required.
          </div>
          <div class="invalid-text" *ngIf="urlForm.get('longUrl')?.errors?.['pattern']">
            Please enter a valid URL (starting with http or https).
          </div>
        </div>
      </div>
  
      <button type="submit" class="generatebutton" [disabled]="isLoader || urlForm.invalid">
        <span *ngIf="isLoader" class="loader"></span>
        {{ isLoader ? 'Generating...' : 'Generate Short URL' }}
      </button>
    </form>
  
    <div *ngIf="shortUrl" class="short-url">
      <input type="text" [value]="shortUrl" readonly class="short-url-input" />
      <button type="button" (click)="copyToClipboard()" class="btn copy-btn btn-warning">Copy</button>
    </div>
  </div>
  