.idea/
venv/
node_modules/
.vscode/
package-lock.json

.angular/
.angular/cache/
.angular/cache/19.2.1/
backend/config.py
backend/.env
neon_user_pwd_qr_generator_db.txt
qr_generator.egg-info/
*.pyc
__pycache__/
src/environment
backend/captcha_code/