<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">QR GENERATOR</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li *ngIf="!isLoggedIn" class="nav-item">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="!isLoggedIn" routerLink="/register">Register</a>  
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/layout/home">Home</a>  
                </li>
                <li *ngIf="isLoggedIn" class="nav-item">
                    <a class="nav-link" routerLink="/layout/dashboard">Dashboard</a> 
                </li>
            </ul>

            <ul *ngIf="isLoggedIn" class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li *ngIf="user.user_name"><span class="dropdown-item"><strong>Username:</strong> {{ user.user_name }}</span></li>
                        <li *ngIf="user.first_name || user.last_name"><span class="dropdown-item"><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}</span></li>
                        <li *ngIf="user.dob"><span class="dropdown-item"><strong>DOB:</strong> {{ user.dob }}</span></li>
                        <li *ngIf="user.gender"><span class="dropdown-item"><strong>Gender:</strong> {{ user.gender }}</span></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" routerLink="/login" (click)="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
