<section class="login-section">
  <div class="login-container">
    <div class="image-container">
      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
        alt="Login Illustration"
      />
    </div>

    <div class="form-container">
      <form [formGroup]="loginForm">

        <div class="form-group" >
          <label for="username">Username </label>
          <input
            [class.invalid]="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"
            type="text"
            id="username"
            formControlName="username"
            placeholder="Enter your username"
            appDisableCutCopyPaste
          />
          <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
            <small *ngIf="loginForm.get('username')?.errors?.['required']">Username is required.</small>
            <small *ngIf="loginForm.get('username')?.errors?.['email']">Enter a valid Username.</small>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <div class="input-group">
            <input
              [type]="showPassword ? 'text' : 'password'"
              id="password"
              formControlName="password"
              placeholder="Enter your password"
              [class.invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
              appDisableCutCopyPaste
            />
            <span class="input-group-text" (click)="togglePassword(showPassword)">
              <i [class.fa-eye]="!showPassword && loginForm.value.password !=''" [class.fa-eye-slash]="showPassword" class="fa-solid"></i>
            </span>
          </div>
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            <small>Password is required.</small>
          </div>
        </div>

        <!-- <div class="form-group captcha-box" style="height: 70px;">
          <div class="captcha-row">
            <ng-container *ngIf="captchaLoading; else captchaImg">
              <div class="captcha-loader"></div>
            </ng-container>

            <ng-template #captchaImg>
              <img
                [src]="captcha"
                alt="Captcha"
                class="captcha-img"
              />
            </ng-template>

            <button
              type="button"
              class="refresh-captcha"
              (click)="getCaptcha()"
              title="Refresh Captcha"
            >
              &#x21bb;
            </button>

            <input
              type="text"
              id="captcha"
              class="captcha-input"
              formControlName="captchaInput"
              placeholder="Enter code"
            />
          </div>
        </div>
        <p align="center">
          <button (click)="loginWithGoogle()" style="border: none; background: none;">
            <img src="https://img.shields.io/badge/Google-Connect-brightgreen?style=for-the-badge&labelColor=black&logo=google" />
          </button>
        </p>
        <div class="form-actions">
          <button type="submit" (click)="onSubmit()">Login</button>
          <p>
            Don't have an account?
            <a href="/register" >Register</a>
          </p>
        </div>

      </form>
    </div>
  </div>
</section>
