table {
    th,
    td {
      vertical-align: middle;
    }
  
    a {
      color: #007bff;
      text-decoration: none;
    }
  
    a:hover {
      text-decoration: underline;
    }
  
    .btn {
      i {
        pointer-events: none;
      }
    }
  }
  