:root {
    --background-color: #f4f4f4;
    --card-background: #ffffff;
    --text-color: #333333;
    --error-color: #d9534f;
    --navbar-bg: #fff;
    --label: #6c757d;
    --primary-btn: #007bff;
    --input-bg: #fff;
    --warning-btn: #ffc107;
  }
  
  .dark-theme {
    --background-color: #222831;
    --card-background: #393E46;
    --text-color: #ffffff;
    --error-color: #ff4c4c;
    --navbar-bg: #222831;
    --label: #b2b2b2;
    --primary-btn: #948979;
    --input-bg: #b8b8b8;
    --warning-btn: #e7bc11;
  }
  