<section class="login-section">
    <div class="login-container">
        <div class="image-container">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw1.webp"
                class="img-fluid d-block mx-auto" alt="Register">
        </div>
        <div class="form-container">
            <form [formGroup]="registerForm">
                <div class="form-grid">
                    <!-- Username -->
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" formControlName="username" placeholder="Username"
                            [class.invalid]="registerForm.get('username')?.invalid && registerForm.get('username')?.touched"
                            appDisableCutCopyPaste>
                        <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
                            <small *ngIf="registerForm.get('username')?.errors?.['required']">Username is
                                required.</small>
                            <small *ngIf="registerForm.get('username')?.errors?.['pattern']">Enter a valid
                                email.</small>
                        </div>
                    </div>
                    <!-- First Name -->
                    <div class="form-group">
                        <label for="firstname">First Name</label>
                        <input type="text" id="firstname" formControlName="firstname"
                            [class.invalid]="registerForm.get('firstname')?.invalid && registerForm.get('firstname')?.touched"
                            placeholder="First Name" appDisableCutCopyPaste>
                        <div *ngIf="registerForm.get('firstname')?.invalid && registerForm.get('firstname')?.touched">
                            <small *ngIf="registerForm.get('firstname')?.errors?.['required']">First name is
                                required.</small>
                            <small *ngIf="registerForm.get('firstname')?.errors?.['maxlength']">Maximum 50 characters
                                allowed.</small>
                        </div>

                    </div>

                </div>
                <div class="form-grid">
                    <!-- Last Name -->
                    <div class="form-group">
                        <label class="" for="lastname">Last Name</label>
                        <input type="text" id="lastname" formControlName="lastname" placeholder="Last Name"
                            [class.invalid]="registerForm.get('lastname')?.invalid && registerForm.get('lastname')?.touched"
                            appDisableCutCopyPaste>
                        <div *ngIf="registerForm.get('lastname')?.invalid && registerForm.get('lastname')?.touched">
                            <small *ngIf="registerForm.get('lastname')?.errors?.['maxlength']">Maximum 50 characters
                                allowed.</small>
                        </div>

                    </div>
                    <!-- Gender Dropdown -->
                    <div class="form-group">
                        <label for="gender">Gender</label>
                        <div class="dropdown-container">
                            <select name="gender" id="gender" formControlName="gender">
                                <option value="" disabled>Select Gender</option>
                                <option *ngFor="let gen of gender" [value]="gen.text" [disabled]="gen.disabled">{{ gen.text }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-grid">
                    <!-- Date of Birth -->
                    <div class="form-group">
                        <label for="dob">Date of Birth</label>
                        <input type="date" id="dob" name="dob" [max]="maxDate" formControlName="dob">
                    </div>

                    <!-- Password -->
                    <div class="form-group">
                        <label for="password">Password</label>
                        <div class="input-group">
                            <input [type]="showpassword ? 'text' : 'password'" id="password" formControlName="password"
                                placeholder="Password"
                                [class.invalid]="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
                                appDisableCutCopyPaste>
                            <span class="input-group-text">
                                <i  (click)="seepassword(showpassword, 'password')" [class.fa-eye]="!showpassword && registerForm.value.password !=''" [class.fa-eye-slash]="showpassword" class="fa-solid"></i>
                            </span>
                        </div>
                        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
                            <small *ngIf="registerForm.get('password')?.errors?.['required']">Password is
                                required.</small>
                            <small *ngIf="registerForm.get('password')?.errors?.['pattern']">
                                Password must contain uppercase, lowercase, number, special character.
                            </small>
                            <small *ngIf="registerForm.get('password')?.errors?.['minlength']">Minimum 8 characters
                                required.</small>
                        </div>
                    </div>
                </div>
                <div class="form-grid">
                    <!-- Confirm Password -->
                    <div class="form-group">
                        <label for="confirmpassword">Confirm Password</label>

                        <div class="input-group">
                            <input [type]="showconfirmpassword ? 'text' : 'password'" id="confirmpassword"
                                formControlName="confirmpassword" placeholder="Confirm Password" appDisableCutCopyPaste
                                [class.invalid]="(registerForm.get('confirmpassword')?.invalid && registerForm.get('confirmpassword')?.touched)">
                        </div>
                        <div
                            *ngIf="registerForm.get('confirmpassword')?.invalid && registerForm.get('confirmpassword')?.touched">
                            <small *ngIf="registerForm.get('confirmpassword')?.errors?.['required']">Confirm password is
                                required.</small>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" (click)="onSubmit()">Register</button>
                    <p>Already have an account? <a href="/login" class="link-danger">Login</a></p>
                </div>
            </form>
        </div>
    </div>
</section>