<section class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw1.webp"
                    class="img-fluid d-block mx-auto" alt="Sample image">
            </div>
            <div class="col-lg-6">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <!-- Username -->
                        <div class="col-md-6 mb-3">
                            <label class="form-label" for="username">Username<span style="color: red;">*</span></label>
                            <span class="text-danger"
                                *ngIf="submitted && registerForm.get('username')?.errors?.['required']">
                                Username is required*</span>
                            <span class="text-danger"
                                *ngIf="submitted && registerForm.get('username')?.errors?.['pattern']">
                                Not an email*</span>
                            <input type="text" id="username" formControlName="username"
                                class="form-control border border-dark rounded-3" placeholder="Username"
                                appDisableCutCopyPaste>
                        </div>
                        <!-- First Name -->
                        <div class="col-md-6 mb-3">
                            <label class="form-label" for="firstname">First Name<span
                                    style="color: red;">*</span></label>
                            <span class="text-danger"
                                *ngIf="(submitted) && registerForm.get('firstname')?.errors?.['required']">
                                Firstname is required*</span>
                            <span class="text-danger"
                                *ngIf="(submitted) && registerForm.get('firstname')?.errors?.['maxlength']">
                                Maxlength is 50*</span>
                            <input type="text" id="firstname" formControlName="firstname"
                                class="form-control border border-dark rounded-3" placeholder="First Name"
                                appDisableCutCopyPaste>
                        </div>

                    </div>

                    <div class="row">
                        <!-- Last Name -->
                        <div class="col-md-6 mb-3">
                            <label class="form-label" for="lastname">Last Name<span style="color: red;">*</span></label>
                            <span class="text-danger"
                                *ngIf="(submitted) && registerForm.get('lastname')?.errors?.['required']">
                                Lastname is required*</span>
                            <span class="text-danger"
                                *ngIf="(submitted) && registerForm.get('lastname')?.errors?.['maxlength']">
                                Maxlength is 50*</span>
                            <input type="text" id="lastname" formControlName="lastname"
                                class="form-control border border-dark rounded-3" placeholder="Last Name"
                                appDisableCutCopyPaste>
                        </div>
                        <!-- Gender Dropdown -->
                        <div class="col-md-6 mb-3">
                            <label class="form-label" for="gender">Gender</label>
                            <div class="dropdown-container">
                                <select name="gender" id="gender" formControlName="gender"
                                    class="form-control border border-dark rounded-3">
                                    <option *ngFor="let gen of gender" [value]="gen.text">{{ gen.text }}</option>
                                </select>
                                <span class="dropdown-icon">
                                    <i class="fa-solid fa-caret-down"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Date of Birth -->
                        <div class="col-md-6 mb-3">
                            <label class="form-label" for="dob">Date of Birth</label>
                            <input type="date" id="dob" name="dob" formControlName="dob"
                                class="form-control border border-dark rounded-3">
                        </div>
                        <!-- Password -->
                        <div class="col-md-6 mb-3">
                            <label class="form-label" for="password">Password<span style="color: red;">*</span></label>
                            <i class="fa-solid fa-circle-info" style="color: #000000; cursor: pointer;"
                                data-bs-toggle="tooltip" data-bs-placement="right" title="{{tooltipmsg}}">
                            </i>
                            <span class="text-danger"
                                *ngIf="(submitted) && registerForm.get('password')?.errors?.['required']">
                                Password is required*</span>
                            <span class="text-danger"
                                *ngIf="submitted && (registerForm.get('password')?.errors?.minlength || registerForm.get('password')?.errors?.pattern)">
                                Incorrect format*
                            </span>
                            <div class="input-group">
                                <input [type]="showpassword ? 'text' : 'password'" id="password"
                                    formControlName="password" placeholder="Password"
                                    class="form-control border border-dark rounded-end" appDisableCutCopyPaste>
                                <span class="input-group-text" (click)="seepassword(showpassword, 'password')"
                                    style="cursor: pointer;">
                                    <i class="fa-solid fa-eye"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Confirm Password -->
                        <div class="col-md-6 mb-3">
                            <label class="form-label" for="confirmpassword">Confirm Password<span
                                    style="color: red;">*</span></label>

                            <div class="input-group position-relative">
                                <input [type]="showconfirmpassword ? 'text' : 'password'" id="confirmpassword"
                                    formControlName="confirmpassword" placeholder="Confirm Password"
                                    class="form-control border border-dark rounded-3" appDisableCutCopyPaste>
                                <span class="input-group-text"
                                    (click)="seepassword(showconfirmpassword, 'confirmpassword')">
                                    <i class="fa-solid fa-eye"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary px-4">Register</button>
                        <p class="small fw-bold mt-2">Already have an account? <a href="/login"
                                class="link-danger">Login</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>