<section class="vh-100">
    <div class="container-fluid h-custom ss">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw1.webp"
                    class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <!-- Username input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="username">Username</label>
                        <span class="text-danger" *ngIf="(submitted) && loginForm.get('username').errors?.required">
                            *Username is required*</span>
                        <span class="text-danger" *ngIf="(submitted) && loginForm.get('username').errors?.maxlength">
                            *maxlength is 5*</span>
                        <div class="form-control form-control-lg">
                            <input style="width: 100%;" type="text" id="username" formControlName="username"
                                placeholder="Username" appDisableCutCopyPaste />
                        </div>
                    </div>
                    <!-- Fullname input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="fullname">Fullname</label>
                        <span class="text-danger" *ngIf="(submitted) && loginForm.get('fullname').errors?.required">
                            *Fullname is required*</span>
                        <span class="text-danger" *ngIf="(submitted) && loginForm.get('fullname').errors?.maxlength">
                            *maxlength is 50*</span>
                        <div class="form-control form-control-lg">
                            <input style="width: 100%;" type="text" id="fullname" formControlName="fullname"
                                placeholder="fullname" appDisableCutCopyPaste />
                        </div>
                    </div>
                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-3">
                        <label class="form-label" for="password">Password</label>
                        <span class="text-danger" *ngIf="(submitted) && loginForm.get('password').errors?.required">
                            *Password is required*</span>
                        <span class="text-danger" *ngIf="(submitted) && loginForm.get('password').errors?.maxlength">
                            *maxlength is 50*</span>
                        <div class="form-control form-control-lg">
                            <input style="width: 90%;" [type]="showpassword?'text':'password'" id="password"
                                id="password" formControlName="password" placeholder="Password"
                                appDisableCutCopyPaste />
                            <i *ngIf="loginForm.value.password!=''" (click)="seepassword(showpassword, 'password')"
                                class="fa-solid fa-eye"></i>
                        </div>
                    </div>
                    <!-- confirmpassword input -->
                    <div data-mdb-input-init class="form-outline mb-3">
                        <label class="form-label" for="confirmpassword">Confirm Password</label>
                        <span class="text-danger"
                            *ngIf="(submitted) && loginForm.get('confirmpassword').errors?.required">
                            *Confirm password is required*</span>
                        <span class="text-danger"
                            *ngIf="(submitted) && loginForm.get('confirmpassword').errors?.maxlength">
                            *maxlength is 50*</span>
                        <div class="form-control form-control-lg">
                            <input style="width: 90%;" [type]="showconfirmpassword?'text':'password'"
                                id="confirmpassword" id="confirmpassword" formControlName="confirmpassword"
                                placeholder="Confirm Password" appDisableCutCopyPaste />
                            <i *ngIf="loginForm.value.confirmpassword!=''" style="cursor: pointer;"
                                (click)="seepassword(showconfirmpassword,'confirmpassword')"
                                class="fa-solid fa-eye"></i>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="#!" class="text-body">Forgot password?</a>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/login"
                                class="link-danger">Login</a></p>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <!-- <div
        class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
        Copyright
        <div class="text-white mb-3 mb-md-0">
            Copyright © 2020. All rights reserved.
        </div>
        Copyright

        Right
        <div>
            <a href="#!" class="text-white me-4">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#!" class="text-white me-4">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#!" class="text-white me-4">
                <i class="fab fa-google"></i>
            </a>
            <a href="#!" class="text-white">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
        Right
    </div> -->
</section>